.headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: auto;
}

.logo-image{
    height: 40px;
    margin: 3%;
}

.logo-with-picture{
    display: flex;
    width: 40vw;
    align-items: center;
}

.logo{
    font-family: 'Inter', 'Roboto', sans-serif;
    font-size: x-large;
}

.button{
    background-color: #5222D0;
    color: #FFF;
    font-family: 'Inter', 'Roboto', sans-serif;
    outline: none;
}

.button__basket{
    height: 40px;
    border-radius: 25px;
}

.title{
    font-family: 'Inter', 'Roboto', sans-serif;
}

.title_main{
    grid-template-areas: 1/1/2/2;
    font-size: 6vh;
}

.main-header{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 6vw;
}

.pic_main{
    grid-area: 1/2/5/3;
    width: 100%;
}

.general-text{
    font-family: 'Roboto Slab', 'Roboto', sans-serif;
    font-size: 1.3em;
}

.button__buy{
    height: 7vh;
    width: 17vw;
    border-radius: 30px;
    line-height: 7vh;
    font-size: larger;
}

.button__buy__image{
    height: 55%;
}

.nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Slab', 'Roboto', sans-serif;
    align-items: center;
}

a{
    text-decoration: none;
}

.title_possibilities{
    font-size: 6vh;
    margin-left: 7vw;
}

.possibility-card-container{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
}

.possibility-card{
    display: flex;
    flex-direction: column;
    padding: 5%;
    height: fit-content;
}

.possibility-card__illustration{
    width: 100%;
}

.possibility-card__title{
    font-size: 1.3em;
}

.possibility-card__general-text{
    font-size: 1.2em;
}

.nav-footer{
    display: flex;
    width: 50vw;
    justify-content: space-between;
    font-family: 'Roboto Slab', 'Roboto', sans-serif;
}
.contacts-card{
    background-color: #EC615B;
    padding-left: 5%;
    margin: 5%;
}

.contacts-card__title{
    color: #FFF;
    font-size: 1.3em;
}

.contacts-card__form{
    height: 3vh;
}

.button_subscribe{
    height: 5vh;
    width: fit-content;
    border-radius: 30px;
    line-height: 5vh;
    margin-top: 6%;
}